<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<ul id="example-1">
    <!-- for döngüsü-->
    <li v-for="item of items">
        {{item.message}}
    </li>
</ul>

<ol id="example-2">
        <li v-for="(item, index) in items">
            {{ mesaj }} - {{ index }} - {{ item.message }}
        </li>
 </ol>

 <div id="example-3">
     <li v-for="value in object">
            {{value}}
     </li>
     <li v-for="(value,name) in object">
        {{name}} : {{value}}
     </li>
    </div>
    
</body>
<script>
   var example1 = new Vue({
        el : "#example-1",
        data: {
            items : [
                {message : "ayakkabı"},
                {message : "terlik"}
            ]
        }

    });

    var example2 = new Vue({
        el : "#example-2",
        data : {
            mesaj: 'Deneme',
            items : [
                {message : "can"},
                {message : "yard"}
            ]
        }
    });
    var example3 = new Vue({
        el : "#example-3",
        data : {
            object : {
                title  : "Merhaba",
                author : "can yard",
                publishedAt : "1997-04-04"
            }
        }
    });
</script>
</html>