<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<ul id="example-1">
    <!-- for döngüsü-->
    <li v-for="item in items">
        {{item.message}}
    </li>
</ul>

<ol id="example-2">
        <li v-for="(item, index) in items">
            {{ mesaj }} - {{ index }} - {{ item.message }}
        </li>
    </ol>
    
</body>
<script>
   var example1 = new Vue({
        el : "#example-1",
        data: {
            items : [
                {message : "ayakkabı"},
                {message : "terlik"}
            ]
        }

    });

    var example2 = new Vue({
        el : "#example-2",
        data : {
            mesaj: 'Deneme',
            items : [
                {message : "can"},
                {message : "yard"}
            ]
        }
    });
</script>
</html>